/*

requirements:

 - style ONLY with class names
- use flexbox, padding, and margins

 - NO ID TAGS
 - NO ELEMENT TAGS
 - NO CLEARS
 - NO FLOATS

*/

.athena-pic {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #0a1659;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
}

.wrapper {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.dog-intro {
    display: flex;
    justify-content: space-around;
}

.dog-bio {
    display: flex;
    flex-wrap: wrap;
}

.subject {
    margin: 0;
    padding: 0;
}

/* body will be palatino
h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
}

body {
    background: #829FD9;
    font-family: 'Cormorant Garamond', serif;
    /* asking prof A for help with how to choose which specific type of the font*/
}


p {
    font-style: italic;
    font-weight: 400;
}

/* ----- color palette ----- */
/*   dark blue:   #230A59    */
/*   mid blue:    #3E38F2    */
/*   light blue:  #5C73F2    */
/*   pale blue:   #829FD9    */
/*   white:       #FFFFFF    */

/* -------------------- fonts -------------------- */
/*  font-family: 'Press Start 2P', cursive         */
/*  font-family: 'Cormorant Garamond', serif       */
/*                Regular 400 Italic, Bold 700     */
/*  Headers bold, text italic                      */