/* ----- color palette ----- */
/*   dark blue:   #230A59    */
/*   mid blue:    #3E38F2    */
/*   light blue:  #5C73F2    */
/*   pale blue:   #829FD9    */
/*   white:       #FFFFFF    */

img {
    max-width: 100%;
    height: auto;
}

.header {
    background-color: #0a1659;
}